<manifest xmlns:android="http://schemas.android.com/apk/res/android">
  <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
  <uses-permission android:name="android.permission.FOREGROUND_SERVICE_CAMERA" />
  <uses-permission android:name="android.permission.FOREGROUND_SERVICE_MICROPHONE" />
  <uses-permission android:name="android.permission.WAKE_LOCK" />

  <application>
    <service
      android:name="expo.modules.camorabackground.CamoraStreamService"
      android:exported="false"
      android:foregroundServiceType="camera|microphone" />
  </application>
</manifest>
